.aboutPage{
    position: relative;
    display:flex;
    color:#126E82;
    background-color: #D8E3E7;
    width: 100%;
    height: 100vh;
    padding: 0 10%;
    overflow: hidden;    
    justify-content: space-between;
    align-items: center;
}
.sectionTitle{
    position: absolute;
    top:2vh;
}
.description{
    height: 100vh;
    max-width: 40%;
    z-index: 2;
}
.aboutMe{
    padding: 12vh 0 0;
    text-align: justify;
    color:#132C33;
}
.disciplines{
    max-width: 50%;
    height: auto;
    z-index: 2;
}
.backgroundDetail{    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: auto;
    z-index: 1;
}