.landingPage{
    display:flex;
    color:#126E82;
    background-color: #D8E3E7;
    width: 100%;
    height: 100vh;
    padding: 0 10%;
    overflow: hidden;    
    justify-content: space-between;
    align-items: center;
}
.thinkerImg{
    max-width: 80%;
    height: auto;
}