.footerContainer{
    display:flex;
    flex-direction: column;
    color:#D8E3E7;
    background-color: #132C33;
    justify-content: center;
    width: 100%;
    height: 20vh;
    padding: 0 10%;
}
.footerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vh 0 1vh 0;
}
.rightContainer{
    align-self: center;
    max-width: 50%;
    justify-items: center;
}
.leftContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    align-self: center;
}
.socialLogosContainer{
    display: flex;
    direction: row;
    justify-content: space-between;
    margin: 0 3vh;
}
.logoContainer{
    max-width: 30%;
    padding: 0 2vh 2vh 2vh;
}
.logoContainer:hover{
    opacity: 60%;
}
.downloadResume{
    margin:auto;
}
.copyrightSection{
    align-self: center;
    font-size: 0.8rem;
}
@media screen and (max-width: 768px){
    .footerContainer{
        padding: 0;
        width: 100%;
        height: auto;
    }
    .footerContent{
        flex-direction: column;
        justify-content: center;
    }
    .leftContainer,
    .rightContainer{
        padding-bottom: 2vh;
    }
}
    