.appHeader{
    display: flex;
    width: 80%;
    margin: auto;
    height: 10vh;
    align-items: center;
    box-shadow: 0px 25px 10px -30px rgba(81,196,211,0.58);
    justify-content: space-between;
}
nav{
    width: 50%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 30%;
    color: #D8E3E7;	
}
.navLink {
    text-decoration: none;
    color: #D8E3E7;	
    cursor: pointer;
    transition: 0.15s ease-out;
}
.navLink:hover,
.navLink:focus{
    color: #51C4D3;
}

@media screen and (max-width: 768px){
    .appHeader{
        height: 20vh;
        flex-direction: column;
        justify-content: space-evenly;
    }
    nav{
        width: 100%; 
    }
}
    