.landingPage {
  display: flex;
  width: 80%;
  margin: auto;
  height: 90vh;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  color: #D8E3E7;
}

.slideDownAnimation {
  animation: slide-down 500ms ease-out forwards;
}

.thinkerImg {
  max-width: 70%;
  height: auto;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .landingPage {
    padding: 25vh 0 0 0;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .thinkerImg {
    max-width: 100%;
    height: auto;
    margin: 25vh;
  }
}
  