.projectsPage{
    position: relative;
    color:#132C33;
    background-color: #132C33;
    width: 100%;
    padding: 0 10%;
    overflow: hidden;
}
.showMore{
    height: 185vh;
    transition: ease-in-out .5s;
}
.showLess{
    height: 100vh;
    transition: ease-in-out .5s;
}
.cardSection{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10vh;
}
.sectionTitle{
    position: absolute;
    top:2vh;
    color: #D8E3E7;
}
.thumbnailContainer{
    padding: 0 1vw;
    width: 100%;
}
.viewAllButton{
    position:absolute;
    align-items: center;
    align-self: center;
    z-index: 3;
}
.thumbnail{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 2vh 0;
}
.thumbnail:hover{
    transform: scale(1.03);
    transition: ease-in 50ms;
}
.projectDescription{
    width: 95%;
    font-size: inherit;
    overflow:auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.learnMoreContainer{
    justify-self:flex-end;
    margin-top: auto;
    padding: 2vh 0 0 0;
}
.backgroundDetail{    
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: auto;
    z-index: 1;
}
.circle1,
.circle2{
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to right bottom, #fafbfcd8, #51C4D3);
}
.circle1{
    top: 5%;
    right: 15%;
    height: 30vh;
    width: 30vh;
    background: linear-gradient(to left bottom, #fafbfcd8, #51C4D3);
}
.circle2{
    height: 25vh;
    width: 25vh;
    bottom: 3%;
    left: 5%;
}

