:root{
  --clr--primary-200: #D8E3E7;
  --clr--primary-500: #132C33;

  --clr--neutral--300: #51C4D3;
  --clr--neutral--400: #126E82;

  --ff--primary: 'Poppins',sans-serif;
  --ff--accent: 'Playfair Display', serif;

  font-size: 18px;
}
* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  font-family: var(--ff--primary);
  font-weight: 200;
  background-color: #132C33;
}
h1,h2,h3{
  font-family: var(--ff--accent);
  color: #D8E3E7;
  font-weight: 700;
  line-height: 1;
}